.search_field{
  display: block;
  margin: 1em auto;
  width: max-content;
  & input:focus{
    outline: none;
  }
  & label{
    color: white;
  }
}
.option{
  width: 70%;
  background: white;
  margin: auto;
  padding: 0.5em 1em;
  margin-top: 0.5em;
}